/AdbToolInfo.class
/AndroidUser.class
/AppBackgroundMode.class
/AppDetails.class
/AppDetailsParser$PermissionStateBuilder.class
/AppDetailsParser$Section.class
/AppDetailsParser.class
/AppInstallItemResult.class
/AppInstallRequest.class
/AppInstallResult.class
/AppListParser.class
/AppPermission.class
/BundletoolDeviceSpec.class
/Device.class
/DeviceDetails.class
/DeviceDetailsParser$MemoryStats.class
/DeviceDetailsParser$StorageStats.class
/DeviceDetailsParser.class
/DeviceMarketingNameResolver$CatalogEntry.class
/DeviceMarketingNameResolver$Resolution.class
/DeviceMarketingNameResolver.class
/DeviceParser.class
/DevicePowerAction.class
/DeviceType.class
/DeviceTypeDetector.class
/DisplayInfo.class
/DisplayInfoParser$RefreshInfo.class
/DisplayInfoParser$Size.class
/DisplayInfoParser.class
/DisplayOverrideSuggestion.class
/InstalledApp.class
/KeyboardInputMethod.class
/ScrcpyCamera.class
/ScrcpyLaunchRequest$AudioSource.class
/ScrcpyLaunchRequest$InputMode.class
/ScrcpyLaunchRequest$LaunchTarget.class
/ScrcpyLaunchRequest.class
/ScrcpyStatus.class
/SystemState.class
/UserConfig.class
/WirelessPairingQrPayload.class
